<!doctype html>
<html lang="en">

<head>
    <title>Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #middle {
            width: 800px;
            margin: auto;
        }
        .form-control{
            width: 200px;
        }
        label{
            margin-top: 10px;
        }
        button{
            margin-top: 10px;
        }
        .table{
            width: 900px;
            margin: auto;
        }
        h2{
            width: 200px;
            margin: auto;
        }
    </style>
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <h2>All Users</h2>
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for i in all_users %}
            <tr>
                <td scope="row">{{i.id}}</td>
                <td>{{i.first_name}}{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form-group" id="middle" method="post" action="/add">{% csrf_token %}
        <h3>Add User</h3>

        <label for="">First name</label>
        <input type="text" class="form-control" name="first_name" id="" aria-describedby="helpId"
            placeholder="first name">

        <label for="">Last name</label>
        <input type="text" class="form-control" name="last_name" id="" aria-describedby="helpId" placeholder="last name">
        <label for="">Age</label>
        <input type="text" class="form-control" name="age" id="" aria-describedby="helpId" placeholder="Age">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" id="" aria-describedby="emailHelpId" placeholder="Email">
        <button type="submit" name="" id="" class="btn btn-primary" btn-lg btn-block>Add</button>
    </form>
</body>

</html>